.sidenav{
    width:228px;
    margin:0;
    padding:20px;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    overflow-x:hidden;
    overflow-y:auto;

    >{
        li{
            > a{
                display:block;
                width:192px;
                margin:0;
                padding:2px 11px;
                border:0;
                border-left:transparent 4px solid;
                border-right:transparent 4px solid;
                font-family:"Source Sans Pro", sans-serif;
                font-weight:400;
                font-size:14px;
            }

            &.nav-header{

                > a{
                    padding:5px 15px;
                    border:1px solid #e5e5e5;
                    width:190px;
                    font-family:"Source Sans Pro", sans-serif;
                    font-weight:700;
                    font-size:16px;
                    background-color:#ffffff;
                }

                &.active > a{
                    background-color:#0088cc;
                }
            }
        }

        .active > a{
            position:relative;
            z-index:2;
        }

        li{

            > a:hover{
                background-color:#ffffff;
            }

            &.has-modifications a{
                border-right:#60d060 4px solid;
            }

            &.is-new a{
                border-left:#e5e5e5 4px solid;
            }
        }
    }
}