.sidebar{
    position:relative;
    display:inline-block;
    float:left;
    width:22%;
    margin-right:20px;
    border-right:2px solid $grey-color-light;
    overflow-x:hidden;
    overflow-y:auto;

    ul{
        list-style:none;
        margin:10px;

        li{
            > a{
                display:block;
                padding:2px 11px;
                color:$text-color;
            }
        }
    }

    > ul > li > a{
        font-weight:bold;
    }
}

.post{
    float:left;
    width:76%;
}