.sidebar{
    position:relative;
    display:inline-block;
    float:left;
    width:22%;
    margin-right:$spacing-unit;
    border-right:2px solid $grey-color-light;
    overflow-x:hidden;
    overflow-y:auto;

    ul{
        list-style:none;
        margin:0;
        margin-bottom:30px;

        li{
            > a{
                display:block;
                padding:5px 0;
                color:$text-color;

                &:hover{
                    color:$grey-color-dark;
                }
            }
        }
    }

    > ul > li > a{
        font-weight:bold;
    }
}