.sidebar{
    position:relative;
    display:inline-block;
    float:left;
    width:22%;
    margin-right:$spacing-unit;
    border-right:2px solid $grey-color-light;
    overflow-x:hidden;
    overflow-y:auto;

    ul{
        list-style:none;
        margin:0 0 30px 10px;

        li{
            > a{
                display:block;
                padding:5px 0;
                color:$text-color;

                &.first{
                    font-weight:bold;
                    font-size:1.2em;
                }

                &:hover{
                    color:$grey-color-dark;
                }
            }
        }
    }
}