table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:20px;

    th{
        font-size:1em;
        color:#fff;
        padding:8px;
        vertical-align:top;
        text-align:left;
        background-color:$grey-color;
        border:1px solid #CCC;
    }

    td{
        font-size:0.9em;
        color:$grey-color-dark;
        border:1px solid #CCC;
        vertical-align:top;
        text-align:left;
        padding:8px;

        p.default-value{
            color:$text-color;
        }

        .label.label-optional{
            float:right;
        }

        &.code{
            font-family:"Source Code Pro";
            font-style:normal;
        }
    }

    tr.even td{
        background-color:#f4f4f4;
    }
}