// Tabs
// -------------------------

// Give the tabs something to sit on
.nav{
	margin-bottom: 0;
  	margin-left: 0; // Override default ul/ol
  	list-style: none;
  	@extend .clearfix;

  	> li > a{
  		display:block;
  		padding:10px 15px;
  		position:relative;
        font-size:1.1em;

  		&:hover,
  		&:focus{
  			background-color:$grey-color-light;
  		}
  	}
}
.nav-tabs{
	border-bottom:1px solid $grey-color-light;

		> li{
			float:left;
		// Make the list-items overlay the bottom border
		margin-bottom:-1px;

		// Actual tabs (as links)
		> a{
			margin-right:2px;
			line-height:$base-line-height;
			border:1px solid transparent;
			border-radius:$base-border-radius $base-border-radius 0 0;
			&:hover{
				border-color:$grey-color-light $grey-color-light $grey-color-light;
			}
		}

		// Active state, and its :hover to override normal :hover
		&.active > a{
			&,
			&:hover,
			&:focus{
				color:$grey-color;
				border:1px solid $grey-color-light;
				background-color:#fff;
				border-bottom-color:transparent;
				cursor:default;
			}
		}
	}
}

.tab-content{

    .tab-pane{
        display:none;

        &.active{
            display:inherit;
        }
    }
}
