table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:20px;

    th{
        font-size:1em;
        padding:8px;
        vertical-align:top;
        text-align:left;
        border-bottom:solid 1px $grey-color-light;
    }

    tr:hover{
        background-color:rgba($grey-color-light, 0.5);
    }

    td{
        font-size:0.9em;
        color:$grey-color-dark;
        border-bottom:solid 1px $grey-color-light;
        vertical-align:top;
        text-align:left;
        padding:8px;

        &.required{
            font-weight:bold;
        }

        p.default-value{
            color:$text-color;
        }

        .label.label-optional{
            float:right;
        }

        &.code{
            font-family:"Source Code Pro";
            font-style:normal;
        }
    }

    tr.even td{
        background-color:#f4f4f4;
    }
}