<h4>Examples</h4>

<div class="examples">
    <ul class="nav nav-tabs nav-tabs-examples">
        {% for example in include.examples %}
        <li>
            <a href="#example-{{ example.title | slugify }}" role="tab" data-toggle="tab">
                {{ example.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for example in include.examples %}
        <div id="example-{{ example.title | slugify }}" class="tab-pane">
            {% if example.description %}
            <p class="description">{{ example.description }}</p>
            {% endif %}

            {% highlight json %}
            {% if example.value %}
            {{ example.value }}
            {% else if example.include %}
            {% include {{ example.include }} %}
            {% else %}
            No `value` or `include` for example provided.
            {% endif %}
            {% endhighlight %}
        </div>
        {% endfor %}
    </div>
</div>