<h4 id="rest-method-{{ include.method.name }}">{{ include.method.title }}</h4>
<div class="methodBlock">
    <div class="meta">
        <div class="method label" data-type="{{ include.method.type }}">{{ include.method.type | upcase }}</div>
        <div class="url"><span class="prefix">{{ site.apiurl }}</span>{{ include.method.url }}</div>
    </div>
    
    {% if include.method.description %}
    {{ include.method.description }}
    {% endif %}

    {% if include.method.parameter %}
    <h5>Parameters</h5>
    {% include rest/parameters.html parameters = include.method.parameter.fields.Parameter %}
    {% endif %}

    {% if include.method.success.examples %}
    <h5>Success example</h5>
    {% include rest/examples.html examples = include.method.success.examples %}
    {% endif %}
</div>